<h1>myBooks <span style='color:#007bff;''>{{user}}</span>...</h1>
<h2>τα βιβλία της παρέας μας</h2>

<div class="row mt-5">
    <div class="col-6 offset-3">
        <form action="/" method="post">
            {{#unless user}}
            <h3 class="text-center">δώστε το όνομά σας...</h3>
            <div class="form-group">
                <div>
                    <input type="text" class="form-control" name="userName" placeholder="Όνομα χρήστη"
                        required="required" value="{{user}}">
                </div>
            </div>
            {{#if message}}
                <div class="alert alert-primary" role="alert">
                    {{message}}
                </div>
            {{/if}}

                <div class="form-group">
                    <button type="submit" class="btn btn-primary login-btn btn-block">Υποβολή</button>
                </div>
            {{/unless}}
        </form>
            {{#if user}}
                <a class="nav-link" href="/logout">
                    <button class="btn btn-primary logout-btn btn-block">Έξοδος</button>
                </a>
            {{/if}}
    </div>
</div>